
.login-field .MuiInput-underline:hover:before {
  border-bottom-color: rgb(5, 74, 60) !important;
}

.login-icon-button {
    color: rgb(5, 74, 60) !important;
}

.signup-password-field .MuiInput-underline:hover:before {
    border-bottom-color: rgb(108, 0, 0) !important;
}

.signup-icon-button {
    color: rgb(108, 0, 0) !important;
}